.description {
  width: 75rem;
}
.link {
  color: #086861;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
h1 {
  &::first-letter {
    text-transform: uppercase;
  }
}
.exit-button {
  margin-top: 1.3rem;
  float: right;
}
.infobox {
  float: right;
  margin-left: 1.3rem;
  margin-bottom: 1.3rem;
  background-color: #c5c5c5;
}
.tright {
  clear: right;
  float: right;
  margin-left: 1.3rem;
  margin-bottom: 1.3rem;
}
