$table__cell-color: #C4A35A;

.table__cell {
    width: 60px;
    height: 75px;
    background-color: $table__cell-color;
    margin: 3px;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}
.cell__symbol {
    font-size: 14px;
    text-align: center;
}
.cell__number {
    margin-top: 3px;
}
.cell__number,
.cell__name,
.cell__atomic-mass {
    font-size: 12px;
    text-align: end;
    margin-right: 5px;
}